<div class="container-fluid page_box">
	<div class="row no-gutters page_header-box">
		<div class="col-12 no-gutters">
			<h21-header [isPrototype]="true"
						(onPrototypeAuth)="prototypeAuth($event)"
						[username]="username"
						(onLogout)="logout()"
						[logotypeUrl]="'/assets/img/logo.svg'"
						[notifyList]="getNotifyList()">
			</h21-header>
			<h21-top-toolbar [showBreadcrumbs]="true"
							 [breadcrumbsData]=""
							 [showProfileUserCardActions]="true"></h21-top-toolbar>
		</div>
	</div>
	<div class="row no-gutters page_content-box">
		<!--<div class="col-12 no-gutters __has-expanded-sidebar"> - меняем класс на __has-expanded-sidebar, если панель нафигации раскрыиа  -->
		<div class="col-12 no-gutters __has-sidebar">
			<nav class="sidebar_nav">
				<a mat-button href="/dashboard" class="is-active">
					<mat-icon>apps</mat-icon>
					<span>Board</span>
				</a>
				<a mat-button href="/tmc">
					<mat-icon>domain</mat-icon>
					<span>TMC</span>
				</a>
				<a mat-button href="/users">
					<mat-icon>person</mat-icon>
					<span>Users</span>
				</a>
			</nav>
			<!--<nav class="sidebar_expand_nav">-->
				<!--<a href="/tmc/agencies">Agencies</a>-->
				<!--<a href="/tmc/agents" class="__is-selected">Agents</a>-->
				<!--<a href="/tmc/corporate">Corporate</a>-->
				<!--<a href="/tmc/traveler">Traveler</a>-->
				<!--<a href="/tmc/reports">Reports</a>-->
			<!--</nav>-->
			<div class="page_content">
				<router-outlet></router-outlet>

				<button mat-raised-button style="position: absolute; bottom: 10px; right: 10px;" (click)="testLinks()" color="warn">Test Links</button>
			</div>
		</div>
	</div>
</div>
